* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

#container {
    width: 100%;
    background: #f7f7f7;
}

/******************** NavBar Section *********************/

#menu {
    background: #000000;
    overflow: hidden;
}

#menu nav {
    float: right;
    margin-right: 10px;
}

#menu nav ul {
    width: 100%;
}

#menu nav ul li {
    border: 1px solid blue;
    display: inline-flex;
  
}

#menu nav ul li a {
    text-decoration: none;
    padding-right: 50px;
    color: white;
}





