* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}

#container {
    width: 100%;
    background: #f7f7f7;
}

/******************** NavBar Section *********************/

#menu {
    background: #0b0b0d;
    overflow: hidden;
}

#menu nav {
    float: right;
    margin: 10px;
}

#menu nav ul {
    width: 100%;
}

#menu nav ul li {
    display: inline-flex;
}

#menu nav ul li a {
    text-decoration: none;
    padding-right: 50px;
    color: white;
    font-family: 'Recursive', sans-serif;
}

#menu nav ul li a:hover {
   text-decoration: underline;
   font-size: 13px;
}

/************ Our  services ***********/
#serviceshead {
    text-align: center;
}

#services {
    border: 1px solid red;
    display: inline-flex;
    padding: 30px;
}

/********** Testimonial *************/
.client{
    display: flex;
}

.clientpic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: dashed 2px blueviolet;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.clienttext{
    padding-top: 50px;
    margin-right: 20px;
}

.client{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.testies h2{
    margin: 20px;
}

/* #menu nav ul li {
 subzero
    border: 1px solid blue;
    display: inline-flex;  
=======
    display: inline-flex;
    padding: 5px; */

    /* creating our client section  */

#ourclient{
    margin-left: 10px;
}

#ourclient{
    margin-bottom: 20px;
    margin-top: 20px;
}

.Clientlogo{
    margin-top: 20px;
}
.Clientlogo img{
    max-width: 200px;
    max-height: 300px;
    text-align:center;
}
#copyright{
margin:auto;
}